# Default values for sbs-stack.
replicaCount: 2

backend:
  image:
    repository: sbs-solver
    tag: "latest"
  service:
    type: LoadBalancer
    port: 80
    targetPort: 8080

frontend:
  image:
    repository: sbs-gui
    tag: "latest"
  service:
    type: LoadBalancer
    port: 80
    targetPort: 80

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi
