# Default values for sbs-stack.
replicaCount: 1

backend:
  image:
    repository: sbs-solver
    tag: "latest"
  service:
    type: ClusterIP
    port: 80
    targetPort: 8080

frontend:
  image:
    repository: sbs-gui
    # We will override this tag in the deploy script, 
    # but 'Always' ensures we never use a stale cache.
    pullPolicy: Always 
    tag: "v2-react"
  service:
    type: LoadBalancer
    port: 80
    targetPort: 80

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi
