replicaCount: 2

backend:
  name: sbs-backend
  image:
    repository: gcr.io/sbs-solver/sbs-backend
    tag: latest
    pullPolicy: Always
  service:
    port: 8080
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi

frontend:
  name: sbs-frontend
  image:
    repository: gcr.io/sbs-solver/sbs-frontend
    tag: latest
    pullPolicy: Always
  service:
    type: NodePort
    port: 80
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 256Mi

ingress:
  enabled: true
  host: sbsolver.ch
  staticIpName: sbs-global-ip

certificate:
  enabled: true
  name: sbs-managed-cert
