name: CI/CD

on:
  workflow_call:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test & Lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        components: clippy
    
    - name: Cache Cargo
      if: ${{ !env.ACT }}
      uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          sbs-backend/target
        key: ${{ runner.os }}-cargo-${{ hashFiles('sbs-backend/Cargo.lock') }}
        restore-keys: |
          ${{ runner.os }}-cargo-
    
    - name: Setup Data
      run: make setup-dictionary
    
    - name: Build
      run: make build-backend
    
    - name: Test
      run: make test
    
    - name: Lint
      run: make lint
