# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Docker

on:
  workflow_call:
  push:
    branches: [ "main", "validator" ]
  pull_request:
    branches: [ "main", "validator" ]

jobs:
  integration-tests:
    name: Docker Fullstack Test
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Dictionary
        run: make setup-dictionary

      - name: Test Docker Stack
        run: make test-docker-stack

      - name: Dump Docker Logs
        if: failure()
        run: |
          docker logs sbs-backend || true
          docker logs sbs-frontend || true

      - name: Cleanup
        if: always()
        run: |
          make stop-docker-stack
          make remove-docker-stack