apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.backend.fullnameOverride | default (printf "%s-backend" .Release.Name) }}
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      name: http
  selector:
    app: {{ .Values.backend.fullnameOverride | default (printf "%s-backend" .Release.Name) }}