apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-frontend
  labels:
    app: sbs-frontend
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: sbs-frontend
  template:
    metadata:
      labels:
        app: sbs-frontend
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/frontend-config.yaml") . | sha256sum }}
    spec:
      initContainers:
        - name: wait-for-backend
          image: busybox:1.28
          command: 
            - 'sh'
            - '-c'
            - 'until nslookup {{ .Values.backend.fullnameOverride | default (printf "%s-backend" .Release.Name) }}.$(cat /var/run/secrets/kubernetes.io/serviceaccount/namespace).svc.cluster.local; do echo waiting for backend; sleep 2; done'
      containers:
        - name: frontend
          image: "{{ .Values.frontend.image.repository }}:{{ .Values.frontend.image.tag }}"
          imagePullPolicy: {{ .Values.frontend.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/conf.d/default.conf
              subPath: default.conf
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - name: nginx-config
          configMap:
            name: {{ .Release.Name }}-frontend-config