apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.frontend.fullnameOverride | default "sbs-frontend" }}
  labels:
    app: {{ .Values.frontend.name | default "sbs-frontend" }}
  annotations:
    {{- with .Values.frontend.service.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  type: {{ .Values.frontend.service.type }}
  ports:
    - port: {{ .Values.frontend.service.port }}
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    app: {{ .Values.frontend.name | default "sbs-frontend" }}